{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://www.fio.cz/ib_api/rest/periods/<TOKEN>/2020-01-01/2020-01-05/transactions.json"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"accountStatement\":{\"info\":{\"accountId\":\"<ACCOUNTID>\",\"bankId\":\"2010\",\"currency\":\"CZK\",\"iban\":\"<IBAN>\",\"bic\":\"<BIC>\",\"openingBalance\":15000,\"closingBalance\":15000,\"dateStart\":\"2020-01-01+0100\",\"dateEnd\":\"2020-01-05+0100\",\"yearList\":null,\"idList\":null,\"idFrom\":22010443153,\"idTo\":22012289733,\"idLastDownload\":null},\"transactionList\":{\"transaction\":[{\"column22\":{\"value\":22010443153,\"name\":\"ID pohybu\",\"id\":22},\"column0\":{\"value\":\"2020-01-01+0100\",\"name\":\"Datum\",\"id\":0},\"column1\":{\"value\":-516.28,\"name\":\"Objem\",\"id\":1},\"column14\":{\"value\":\"CZK\",\"name\":\"M\u011bna\",\"id\":14},\"column2\":null,\"column10\":{\"value\":\"\",\"name\":\"N\u00e1zev proti\u00fa\u010dtu\",\"id\":10},\"column3\":null,\"column12\":null,\"column4\":null,\"column5\":{\"value\":\"9250\",\"name\":\"VS\",\"id\":5},\"column6\":null,\"column7\":{\"value\":\"N\u00e1kup: LIDL DEKUJE ZA NAKUP,  VELETRZNI UL., PRAHA 7, 17000, CZE, dne 31.12.2019, \u010d\u00e1stka  516.28 CZK\",\"name\":\"U\u017eivatelsk\u00e1 identifikace\",\"id\":7},\"column16\":{\"value\":\"N\u00e1kup: LIDL DEKUJE ZA NAKUP,  VELETRZNI UL., PRAHA 7, 17000, CZE, dne 31.12.2019, \u010d\u00e1stka  516.28 CZK\",\"name\":\"Zpr\u00e1va pro p\u0159\u00edjemce\",\"id\":16},\"column8\":{\"value\":\"Platba kartou\",\"name\":\"Typ\",\"id\":8},\"column9\":{\"value\":\"<NAME>, \u0160t\u011bp\u00e1n\",\"name\":\"Provedl\",\"id\":9},\"column18\":null,\"column25\":{\"value\":\"N\u00e1kup: LIDL DEKUJE ZA NAKUP,  VELETRZNI UL., PRAHA 7, 17000, CZE, dne 31.12.2019, \u010d\u00e1stka  516.28 CZK\",\"name\":\"Koment\u00e1\u0159\",\"id\":25},\"column26\":null,\"column17\":{\"value\":26099615786,\"name\":\"ID pokynu\",\"id\":17},\"column27\":null},{\"column22\":{\"value\":22010704516,\"name\":\"ID pohybu\",\"id\":22},\"column0\":{\"value\":\"2020-01-02+0100\",\"name\":\"Datum\",\"id\":0},\"column1\":{\"value\":5000.00,\"name\":\"Objem\",\"id\":1},\"column14\":{\"value\":\"CZK\",\"name\":\"M\u011bna\",\"id\":14},\"column2\":{\"value\":\"284555875\",\"name\":\"Proti\u00fa\u010det\",\"id\":2},\"column10\":{\"value\":\"<NAME> STEPAN\",\"name\":\"N\u00e1zev proti\u00fa\u010dtu\",\"id\":10},\"column3\":{\"value\":\"0300\",\"name\":\"K\u00[...]
[...]
